/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
	
	--ion-color-default-theme: #312E38;
	--ion-color-second-theme: #423F4D;
	--ion-color-second-default-theme: #FF9000;
	--ion-color-activate-default-theme: #d27c0c;
	--ion-color-save-theme: #369F34;
	--ion-color-back-arrow-theme: #949393;
	--ion-color-text-theme: #999591;
  
}
